@keyframes elementor-headline-dash {
  0% {
      stroke-dasharray: 0 1500;
      opacity: 1
  }

  to {
      stroke-dasharray: 1500 1500;
      opacity: 1
  }
}

@keyframes hide-highlight {
  0% {
      opacity: 1;
      stroke-dasharray: 1500 1500
  }

  to {
      opacity: 0;
      filter: blur(10px)
  }
}