/*--------------------------------------------------------------
    [ ## Container ]
--------------------------------------------------------------*/
.container {
    padding-left: 2rem;
    padding-right: 2rem;
    @include sm-up {
        max-width: 570px;
    }

    @include md-up {
        max-width: 780px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @include lg-up {
        max-width: 980px;
    }
    @include xl-up {
        max-width: 1200px;
    }
}

/*--------------------------------------------------------------
    [ ## Header ]
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
    [ ## Footer ]
--------------------------------------------------------------*/
@import "footer";
